@use 'sass:math';
@use 'sass:color';
@import './variables.scss';

.header {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;

  .icon-btn-list.simple {
    padding: 0;

    > a, > button {
      margin: 0;
    }

    .icon-btn {
      width: 50px;
      padding-bottom: 50px;
      opacity: 0.5;
      transition: opacity 100ms linear, top 100ms linear;

      i {
        top: 0.5rem; right: 0.5rem; bottom: 0.5rem; left: 0.5rem;
      }

      &:hover {
        top: -6px;
        opacity: 0.8;
      }
    }
  }
}

.content-box {
  position: relative;
  padding: 2rem 8rem;
  margin-top: (350px * 0.63 * 0.7) + 10px;
  margin-bottom: 3rem;
  background: white;
  border-radius: 3rem;
  border: $b-width solid $color-dark;
  min-height: 30%;
  max-width: 100%;
  min-width: 70%;
  color: $color-dark;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    top: -1 * $b-width - 25px; right: -1 * $b-width; bottom: -1 * $b-width + 25px; left: -1 * $b-width;
    background: $color-dark;
    border-radius: 3rem;
    border: $b-width solid $color-dark;
    z-index: -1;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }

  &.mint {
    background: $color-darker;
    border-color: $color-dark;
    color: $color-dark-text;
    margin-top: (200px * 0.63 * 0.7) + 10px;

    &::before {
      background: $color-dark;
      border-color: $color-dark;
    }
  }

  &.story {
    background: $color-dark;
    border-color: $color-darker;
    color: $color-dark-text;
    margin-top: (200px * 0.63 * 0.7) + 10px;

    &::before {
      background: $color-darker;
      border-color: $color-darker;
    }

    .img-bunch-container {
      margin: 0 -8rem;

      .img-bunch {
        display: block;
        max-width: 100%;
        margin: 12rem auto 2rem auto;
        padding-bottom: 30%;
        background-image: url(../images/bunch.png);
        background-position: center;
        background-size: cover;
      }
    }

    .btn {
      border: $b-width solid $color-darker;

      &::before {
        background: $color-darker;
        border: $b-width solid $color-darker;
      }
    }
  }

  &.mint-confirm {
    padding: 2rem 4rem;
    min-width: auto;
    margin-top: 24px;
    margin-bottom: 0;
  }
}

.tap-it-container {
  display: flex;
  flex-direction: column;
  position: relative;

  .tap-it-box {
    position: relative;
    padding: 2rem 8rem;
    background: $color-dark;
    border-radius: 3rem;
    border: $b-width solid $color-dark;
    height: 100%;
    font-weight: 900;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 -10px 80px rgba(0, 0, 0, 0.66);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tap-it-prompt {
      position: absolute;
      left: 120px;
      top: 32px;
      width: 94px;
      height: 20px;
      margin-left: math.div(-94px, 2);
      margin-top: math.div(-20px, 2);
      transform-origin: center;
      transition: transform 300ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    .tap-it-back {
      padding: 8rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        color: #fff;
        font-size: 2.5rem;
      }
      a {
        color: #fff;
        font-family: "Trueno outline", "Trueno", sans-serif;
        &:hover {
          font-family: "Trueno", sans-serif;
        }
      }
    }

    .tap-it-front {
      content: "";
      position: absolute;
      top: -1 * $b-width + 25px; right: -1 * $b-width; bottom: -2 * $b-width; left: -1 * $b-width;

      background: white;
      color: $color-dark;
      border-radius: 3rem;
      border: $b-width solid $color-dark;

      padding: 8rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      transform: translateY(0);
      transition: transform 300ms cubic-bezier(0.68, -0.6, 0.32, 1.6);

      p {
        font-size: 2.4rem;
      }
    }

    &:hover {
      .tap-it-prompt {
        transform: scale(2);
      }

      .tap-it-front {
        transform: translateY(42px);
      }
    }

    &.tapped {
      .tap-it-prompt {
        transform: scale(0);
      }

      .tap-it-front {
        transform: translateY(75%);
      }
    }
  }

  .content-box-buttons {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    padding: 0 2rem;
  }
}

.slider-box {
  position: relative;
  background: $color-dark;
  border-radius: 3rem;
  border: $b-width solid $color-dark;
  box-shadow: 0 -5px 80px rgba(0, 0, 0, 0.66);

  .slider-container {
    padding-bottom: calc(125% + 3rem);

    .slick-slider {
      position: absolute;
      top: 0; right: -5px; bottom: 0; left: -5px;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        border-left: 5px solid $color-dark;
        border-right: 5px solid $color-dark;
        border-radius: 2.7rem;
        z-index: 1;
        pointer-events: none;
      }

      .slick-list {
        border-radius: 2.7rem;

        .slick-slide {
          border-left: 5px solid $color-dark;
          border-right: 5px solid $color-dark;
          box-sizing: border-box;
        }
      }

      .slick-dots {
        bottom: 3rem;
      }

      .product-background {
        width: 100%;
        padding-bottom: 125%;
        position: relative;

        img, video {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 2.8rem;
        }
      }

      &::after {
        content: "";
        position: absolute;
        height: 50px;
        right: 0; bottom: 0; left: 0;
        background: red;
        border-bottom-right-radius: 2.5rem;
        border-bottom-left-radius: 2.5rem;
        background: linear-gradient(90deg, $color-dark 10%, color.adjust($color-dark, $alpha: -1) 50%, $color-dark 90%);
      }
    }
  }
}

.design-pick-box {
  position: relative;
  background: $color-dark;
  border-radius: 3rem;
  border: $b-width solid $color-dark;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

  .design-pick-container {
    width: 100%;
    padding-bottom: 125%;
    position: relative;

    img, video {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 2.5rem;
    }
  }
}

.receipt-container {
  background: $color-darker;
  min-height: 100vh;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

  .receipt-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-style: italic;
    padding: 6rem 3rem;

    .receipt dt, .receipt dd {
      font-size: 1.3rem;
      color: rgba(255, 255, 255, 0.6);
    }

    .reward {
      padding: 2rem;
      cursor: pointer;
      margin: 0 auto;
      width: 70%;

      .design-pick-container {
        width: 100%;
        display: block;
        border: 1px solid #ddd;
        padding-bottom: 125%;
        position: relative;

        img, video {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .confirmation {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.6);
  }
}

.content-free {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    color: $color-dark-text;
  }

  .logo {
    a {
      img {
        margin-top: 1rem;
      }
    }
  }
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;

  a {
    display: block;
    position: relative;

    img {
      width: 200px;
      margin-top: (200px * 0.63 * -0.7) - 16px;
      transition: transform 100ms linear;

      &:hover {
        transform: scale(1.06);
      }
    }
  }

  &.larger {
    a {
      img {
        width: 350px;
        margin-top: (350px * 0.63 * -0.7) - 16px;
      }
    }
  }
}

.btn {
  padding: 1.25rem 1.8rem;
  position: relative;
  background: white;
  border-radius: 2.6rem;
  border: $b-width solid $color-dark;
  display: block;
  cursor: pointer;
  color: $color-dark;
  font-size: 2.3rem;
  top: 0;
  transition: top 100ms linear;
  font-weight: 900;

  &.primary {
    background: $color-primary;
  }

  &.secondary {
    background: #1b6e93;
    border-color: $color-darker;
    color: #fff;

    &::before {
      border-color: $color-darker;
      background: $color-darker;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -1 * $b-width - 12px; right: -1 * $b-width; bottom: -1 * $b-width + 12px; left: -1 * $b-width;
    background: $color-dark;
    border-radius: 2.6rem;
    border: $b-width solid $color-dark;
    z-index: -1;
    transition: all 100ms linear;
  }

  &:hover {
    top: -12px;

    &::before {
      top: -1 * $b-width; bottom: -1 * $b-width;
    }
  }

  &[disabled] {
    color: $color-dark-text;
    cursor: auto;

    &:hover {
      top: 0;

      &::before {
        top: -1 * $b-width - 12px; bottom: -1 * $b-width + 12px;
      }
    }
  }

  &.mint-btn {
    background-color: $color-primary;
    animation: pulse 1s ease-in-out;
    animation-iteration-count: infinite;

    &:hover {
      animation: pulse 1s ease-in-out;
      animation-iteration-count: infinite;
    }

    &[disabled] {
      background-color: $color-darker;
      background-image: url(../images/lines.svg);
      background-size: 50px 50px;
      animation: scroll-backgorund-image 2s linear;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes scroll-backgorund-image {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}

@keyframes pulse {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}

.content-box-buttons {
  margin-bottom: -6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 0;

  > a, > button {
    margin: 0 1rem;
    flex-grow: 1;
  }

  a {
    display: block;

    button {
      width: 100%;
    }
  }
}

.content-free-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;

  > a, button {
    margin: 0 0.5rem;
  }

  .btn {
    border: $b-width solid $color-darker;

    &::before {
      background: $color-darker;
      border: $b-width solid $color-darker;
    }
  }
}

.designs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .design {
    background: none;
    font-size: 0;
    border: none;
    flex-grow: 1;
    padding: 6px;
    cursor: pointer;
    width: math.div(1,6)*100%;
    transition: transform 100ms ease-in-out;

    @media(max-width: 1000px) {
      width: math.div(1,3)*100%;
    }

    @media(max-width: 700px) {
      width: math.div(1,2)*100%;
    }

    &>div {
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    }

    &:hover {
      transform: scale(1.1);
      z-index: 1;
    }

    &[disabled] {
      opacity: 0.5;
      filter: grayscale(80%);
      cursor: auto;
    }
  }
}

.receipt {
  dt {
    font-weight: bold;
    margin-bottom: 0.1rem;
    margin-right: 5rem;
  }

  dd {
    margin-bottom: 0.2rem;
    text-align: right;
    flex-grow: 1;
  }
}

.confirm {
  display: flex;
  flex-direction: row;
  align-items: center;

  .connectors {
    flex-grow: 1;
    margin-right: 4rem;
    padding: 1rem 0 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 0;
    position: relative;

    .connector {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.2rem 1.4rem;
      font-size: 1.8rem;
      margin-top: 12px;
      border-color: $color-dark;

      &::before {
        background-color: $color-dark;
        border-color: $color-dark;
      }

      img {
        margin-top: 5px;
      }
    }
  }

  .receipt dt, .receipt dd {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 700;
    line-height: 2rem;
    text-transform: uppercase;
  }
}

.name-matching-minigame {
  ul {
    position: relative;
    display: flex;
    flex-direction: row;

    li {
      width: math.div(1,6)*100%;
      width: 16.66%;
      padding: 1rem;
    }

    &.names {
      li {
        cursor: pointer;
        position: relative;
        height: 3rem;

        .name {
          position: absolute;
          left: 1rem;
          top: 1rem;
          width: calc(100% - 2rem - 12px);
          height: calc(100% - 2rem - 12px);
          font-family: "Trueno";
          color: #fff;
          display: block;
          font-size: 1.1rem;
          font-weight: 700;
          text-align: center;
          transition: color 400ms linear, left 400ms ease-in-out, top 400ms ease-in-out;
          z-index: 1;
          pointer-events: none;
        }

        &.revealed {
          .name {
            color: $color-primary;
          }
        }
      }
    }

    &.slots {
      li {
        cursor: pointer;

        .slot {
          border-radius: 2rem;
          border: math.div($b-width, 2) solid #1f4048;
          background: #0a2f37;
          display: block;
          height: 4rem;
        }
      }
    }

    &.designs {
      img {
        display: block;
        max-width: 80%;
        margin: 0 auto;
      }
    }
  }
}

.icon-btn-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 0;
  padding-top: 2rem;

  > a, > button {
    display: block;
    flex-grow: 1;
    margin: 0 1rem;
  }

  .icon-btn {
    position: relative;
    border: $b-width solid $color-darker;
    border-radius: 2.6rem;
    background: $color-primary;
    width: 100%;
    padding-bottom: 40%;
    cursor: pointer;
    top: 0;
    transition: top 100ms linear;

    i {
      position: absolute;
      font-size: 0;
      background-color: $color-darker;
      mask-position: center;
      mask-size: contain;
      mask-repeat: no-repeat;
      top: 1rem; right: 1rem; bottom: 1rem; left: 1rem;

      &.instagram {
        mask-image: url(../images/icons/instagram.svg);
      }
      &.twitter {
        mask-image: url(../images/icons/twitter.svg);
      }
      &.facebook {
        mask-image: url(../images/icons/facebook.svg);
      }
      &.email {
        mask-image: url(../images/icons/email.svg);
      }
      &.opensea {
        mask-image: url(../images/icons/opensea.svg);
      }
      &.discord {
        mask-image: url(../images/icons/discord.svg);
      }
      &.tiktok {
        mask-image: url(../images/icons/tiktok.svg);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -1 * $b-width - 12px; right: -1 * $b-width; bottom: -1 * $b-width + 12px; left: -1 * $b-width;
      background: $color-darker;
      border-radius: 2.6rem;
      border: $b-width solid $color-darker;
      z-index: -1;
      transition: all 100ms linear;
    }

    &:hover {
      top: -12px;

      &::before {
        top: -1 * $b-width; bottom: -1 * $b-width;
      }
    }
  }

  &.simple {
    > a, > button {
      flex-grow: 0;
    }

    .icon-btn {
      border: none;
      border-radius: 0;
      background: none;
      width: 100px;
      padding-bottom: 100px;

      i {
        background-color: #fff;
      }

      &::before {
        display: none;
      }
    }
  }
}
