$color-light: #ffffff;
$color-primary: #fbb03b;
$color-dark: #00262f;
$color-dark-text: #193b44;
$color-darker: #013a45;

$b-width: 8px;

.content-box {
  position: relative;
  padding: 2rem;
  margin-top: (300px * 0.63 * 0.7);
  margin-bottom: 3rem;
  background: white;
  border-radius: 2rem;
  border: $b-width solid $color-dark;
  min-height: 30%;
  max-width: 100%;
  min-width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    top: -1 * $b-width - 25px; right: -1 * $b-width; bottom: -1 * $b-width + 25px; left: -1 * $b-width;
    background: $color-dark;
    border-radius: 2rem;
    border: $b-width solid $color-dark;
    z-index: -1;
  }

  &.mint {
    background: $color-dark;
    border-color: $color-darker;
    color: $color-dark-text;

    &::before {
      background: $color-darker;
      border-color: $color-darker;
    }
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;

    a {
      display: block;

      img {
        width: 300px;
        margin-top: (300px * 0.63 * -0.7) - 16px;
      }
    }
  }
}

.content-free {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;

    a {
      display: block;

      img {
        width: 300px;
        margin-top: (300px * 0.63 * -0.7) - 16px;
      }
    }
  }
}

.btn {
  padding: 1rem;
  position: relative;
  background: white;
  border-radius: 2rem;
  border: $b-width solid $color-dark;
  display: block;
  cursor: pointer;

  &.primary {
    background: $color-primary;
  }
}

.content-box-buttons {
  margin-bottom: -4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  a {
    flex-grow: 1;
    margin: 0 1rem;
    display: block;

    button {
      width: 100%;
    }
  }
}

.content-free-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.designs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .design {
    background: none;
    font-size: 0;
    border: none;
    flex-grow: 1;
    padding: 6px;
    cursor: pointer;
    width: 1/6*100%;

    @media(max-width: 1000px) {
      width: 1/3*100%;
    }

    @media(max-width: 800px) {
      width: 1/2*100%;
    }

    @media(max-width: 600px) {
      width: 1/1*100%;
    }

    &>div {
      background: url(../images/design-background.png);
      background-size: cover;
      background-position: center;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    }

    &[disabled] {
      opacity: 0.9;
      filter: grayscale(50%);
    }
  }
}

.confirm {
  .confirm-reward {
    img {
      width: 200px;
    }
  }

  .connectors {
    display: flex;
    flex-direction: column;

    .connector {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }
}
