@use 'sass:color';
@use 'sass:math';
@import './variables.scss';

@media(max-width: 900px) {
  p, button, input, dt, dd {
    font-family: "Trueno";
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  .btn {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
  }

  .content-box {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem;
    border-radius: 0;
    border: 0;

    &::before {
      display: none;
    }

    .logo {
      a {
        img {
          margin-top: 0;
          width: 200px;
        }
      }
    }

    &.mint {
      margin-top: 0;
      background-color: color.scale($color-dark, $alpha: -20%);
    }

    &.mint-confirm {
      padding: 0;
    }

    &.story {
      .img-bunch-container {
        margin: 0 -1rem;

        .img-bunch {
          margin: 6rem auto 2rem auto;
        }
      }

      .content-box-buttons {
        flex-direction: column;
      }
    }
  }

  .logo {
    a {
      img {
        margin-top: 0;
        width: 200px;
      }
    }
  }

  .tap-it-container {
    .tap-it-box {
      padding: 2rem;

      .tap-it-prompt {
        left: 72px;
        top: 30px;
      }

      .tap-it-back {
        padding: 4rem 2rem;

        p {
          font-size: 1.5rem;
        }
      }

      .tap-it-front {
        padding: 4rem 2rem;

        p {
          font-size: 1.5rem;
        }
      }

      &:hover {
        .tap-it-prompt {
          transform: scale(1.2);
        }
      }
    }

    .content-box-buttons {
      position: relative;
      bottom: 2rem;
    }
  }

  .content-box-buttons {
    margin-bottom: 0;

    > a, > button {
      margin: 0;
    }
  }

  .content-free-buttons {
    flex-direction: column;
    align-items: stretch;
    padding: 0 4rem;

    button {
      width: 100%;
    }
  }

  .no-flex-grow {
    display: none !important;
  }

  .name-matching-minigame {
    display: none;
  }

  .accordion {
    .accordion__button {
      font-size: 1.5rem;

      &:after {
        display: none;
      }
    }
  }

  .icon-btn-list {

    > a, > button {
      margin: 0 0.2rem;
    }

    .icon-btn {
      padding-bottom: 75%;
    }
  }

  .confirm {
    flex-direction: column;

    .connectors {
      margin-right: 0;
      width: 100%;
    }
  }

  .btn.mint-btn {
    margin-top: 2rem;
  }
}
